<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<http use-expressions="true">


		<csrf disabled="true" />
		<intercept-url pattern="/" access="permitAll()" />

		<intercept-url pattern="/admin/user/*"
			access="hasRole('ROLE_10')" />


		<intercept-url pattern="/admin/Dashboard"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_5')" />


		<intercept-url pattern="/admin/comment/*"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_5')" />
		<intercept-url pattern="/admin/post/*"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_5')" />
		<intercept-url pattern="/admin/tipNutri/*"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_5')" />
		<intercept-url pattern="/admin/report/*"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_5')" />
		<intercept-url pattern="/admin/reaction/*"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_5')" />


		<intercept-url pattern="/post-edit/*"
			access="hasRole('ROLE_10') 
			or hasRole('ROLE_1') or hasRole('ROLE_5')" />
		
		
		<access-denied-handler
			error-page="/authorized/authenticated" />


		<form-login login-page="/authorized/SignIn"
			login-processing-url="/authorized/user-signin"
			authentication-success-handler-ref="authSuccessHandler"
			authentication-failure-url="/authorized/login-error"
			username-parameter="txtphone" password-parameter="txtpass" />
		<logout logout-url="/SignOut" logout-success-url="/"
			delete-cookies="JSESSIONID" invalidate-session="true" />
	</http>


	<beans:bean id="AuthenProvider"
		class="service.AuthenProvider" />

	<authentication-manager>
		<authentication-provider ref="AuthenProvider" />
	</authentication-manager>

	<beans:bean id="authSuccessHandler"
		class="service.AuthFilterHandler" />


</beans:beans> 